
.toDoItems{
    border-radius: 10px;
    width:100%;
    
        .toDoItem{
        padding: 3px 5px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 2rem 3rem rgba(0,0,0,.3);
        background-color:#fff;

        .toDoItemText{
            flex: 0 0 70%;
        }

    }
}
